{
  "package": {
    "name": "mosquitto",
    "repo": "debian",
    "subject": "sanji"
  },
  
  "version": {
    "name": "$VERSION"
  },

  "files": [
    {
      "includePattern": "workspace/(.[^/]*(\\.deb)$)",
      "uploadPattern": "$1",
      "matrixParams": {
        "deb_distribution": "unstable",
        "deb_component": "main",
        "deb_architecture": "$ARCH"
      }
    }
  ],
  "publish": true,
  "override": false
}
